$color--white: rgb(255, 255, 255);         // #ffffff
$color--black: rgb(0, 0, 0);               // #000000

$color--java: rgb(30, 185, 183);           // #1EB9B7
$color--eastern-blue: rgb(26, 162, 161);   // #1AA2A1
$color--bay-of-many: rgb(42, 52, 132);     // #2A3484
$color--seashell: rgb(241, 241, 241);      // #F1F1F1
$color--royal-blue: rgb(76, 96, 238);      // #4C60EE

// Error
$color--cabaret: rgb(218, 73, 104);        // #DA4968
// Success
$color--pastel-green: rgb(82, 218, 106);   // #52DA6A