input {
  @include placeholder-color($color--white);

  background: $color--bay-of-many;
  color: $color--white;
  border: none;
  display: block;
  padding: 10px;
  width: calc(100% - 20px);
  margin-bottom: 15px;

  &:focus {
    @include placeholder-color($color--black);

    background: $color--seashell;
    color: $color--black;
  }
}

