@mixin placeholder-color($color) {
  &::-webkit-input-placeholder {
   color: $color;
  }
  &:-moz-placeholder { /* Firefox 18- */
     color: $color;  
  }
  &::-moz-placeholder {  /* Firefox 19+ */
     color: $color;  
  }
  &:-ms-input-placeholder {  
     color: $color;  
  }
}

@mixin bp($point) {
  $bp-phone: "(max-width: 375px)";
  $bp-tablet: "(max-width: 768px)";
  $bp-desktop: "(max-width: 1824px)";

  @if $point == dekstop {
    @media #{$bp-desktop} { @content; }
  }
  @else if $point == tablet {
    @media #{$bp-tablet} { @content; }
  }
  @else if $point == phone {
    @media #{$bp-phone}  { @content; }
  }
}