.add-movie {
  @include position(top, right, 0, 0, fixed);
  
  background: #4C60EE;
  width: 250px;
  height: 100%;
  z-index: $layer-two;
  transition: 300ms ease-in-out;
  transform: translateX(100%);

  &.open {
    transform: translateX(0);
  }
}

.add-movie__toggle {
  @include position(top, right, '20px', '20px', fixed);

  background: $color--java;
  border-radius: 100%;
  cursor: pointer;
  font-size: 40px;
  transition-delay: 200ms;
  transition: 300ms ease-in-out;
  height: 50px;
  width: 50px;
  z-index: $layer-three;

  i {
    @include center(both);

    color: $color--white;
  }

  &.open {
    transform: translateX(-205px) rotate(45deg);
  }
}

.add-movie__form {
  padding: 90px 20px 20px 20px;
}